* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
}
.spinner {
  margin: auto;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s infinite linear;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 4px solid;
  border-color: black lightgrey lightgrey lightgrey;
  margin-bottom: 8px;
  animation: spin 2s infinite linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
